<div class="popup-background" (click)="onClose()">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <h2>Add Application</h2>
      <form [formGroup]="addAppForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="url">URL</label>
          <input id="url" formControlName="url" type="text" />
          <div *ngIf="addAppForm.get('url')?.invalid && addAppForm.get('url')?.touched" class="error">
            Please enter a valid URL.
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" formControlName="name" type="text" />

          <div *ngIf="addAppForm.get('name')?.invalid && addAppForm.get('name')?.touched" class="error">
            Please enter a valid name.
          </div>
        </div>
        <div class="form-group">
          <label for="version">Version</label>
          <input id="version" formControlName="version" type="text" />
          <div *ngIf="addAppForm.get('version')?.invalid && addAppForm.get('version')?.touched" class="error">
            Please enter a valid version.
          </div>
        </div>
        <button type="submit" class="primary-btn">Add Application</button>
      </form>
    </div>
  </div>
