.wrapper {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 2rem;
  padding: 2rem;
  box-sizing: border-box;

  a {
    text-decoration: none;
    font-weight: 300;
    color: black;

    &.active {
      font-weight: 900;

      i {
        color: var(--active-color); /* Change icon color when active */
      }
    }

    i {
      font-size: 1.5rem; /* Adjust the size of the icons */
      margin-right: 0.5rem; /* Spacing between icon and text */
      transition: color 0.3s ease; /* Smooth color transition */
    }

    &:hover i {
      color: blue;
    }
  }

  .logo {
    height: 100%;
    object-fit: contain;
    height: 2rem;
    margin-right: auto;
  }
}
